@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Tilt Prism', cursive;
}

h1{
    font-size: 4.4rem;
}