@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #d1fae5;
  font-family: 'Roboto', sans-serif;
}

.dropdown-box {
  margin: 10rem auto;
  width: 30rem;
  font-size: 2.4rem;
}

.selected-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  background-color: #fafaf9;
  margin-bottom: 1rem;
  border: 1px solid #0c0a09;
  padding: 1rem 1rem;
  box-shadow: 0 0 2px #78716c;
  border-radius: 12px;
}

.selected-box:hover {
  cursor: pointer;
}

.elements-box {
  background-color: #fafaf9;
  border: 1px solid #0c0a09;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 2px #78716c;
  border-radius: 12px;
  opacity: 100;
  transition: all 0.3s;
}

.element-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 1.5rem;
  margin: 1rem;
}

.element-box:hover {
  background-color: #dbdada;
  border-radius: 12px;
}

.hidden {
  display: none;
}
